<template>
  <svg>
    <defs>
      <linearGradient id="pipe-shape-gradient" x1="0" y1="0" x2="0" y2="1">
        <stop offset="0%" class="first-stop" />
        <stop offset="10%" class="second-stop" />
        <stop offset="90%" class="third-stop" />
        <stop offset="100%" class="fourth-stop" />
      </linearGradient>
    </defs>
    <g class="lightPosition" :style="[defaultPositioning]">
      <circle
        cx="50"
        cy="50"
        r="40"
        class="lightStyle"
        :class="{ enabled: enabled }"
        stroke="black"
        stroke-width="3"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
@Component({
  components: {},
})
export default class Light extends Vue {
  @Prop(String) private readonly name: string | undefined;

  @Prop(Number) private readonly x: number | undefined;

  @Prop(Number) private readonly y: number | undefined;

  @Prop(Boolean) private readonly enabled: boolean | undefined;

  @Prop(Boolean) private readonly isVertical: boolean | undefined;

  get defaultPositioning(): any {
    if (this.isVertical) {
      return {
        transform: `translate(${this.x}px, ${this.y}px) rotate(90deg)`,
      };
    }
    return {
      transform: `translate(${this.x}px, ${this.y}px)`,
    };
  }
}
</script>
<style lang="scss" scoped>
.lightPosition {
  transform-origin: 55px 50px;
}
.lightStyle {
  stroke: black;
  stroke-width: 4px;
  fill: green;
  &.enabled {
    fill: red;
  }
}
.first-stop {
  stop-color: rgba(355, 255, 255, 1);
}
.second-stop {
  stop-color: rgb(138, 138, 138);
}
.third-stop {
  stop-color: rgba(187, 187, 187, 1);
}
.fourth-stop {
  stop-color: rgba(96, 96, 96, 1);
}
</style>
