<template>
  <chartjs></chartjs>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { ComponentOptions } from 'vue';
import Chartjs from './UPlotChart.vue';

@Component({
  components: {
    Chartjs,
  },
})
export default class Chart extends Vue {}
</script>

<style></style>
