<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>Chart</v-toolbar-title>
    </v-toolbar>
    <!-- <apexchart type="line" :options="chartOptions" :series="series"></apexchart> -->
    <div class="chart-container">
      <canvas id="chart" ref="chart"></canvas>
    </div>
    <v-card-actions>
      <v-btn @click="togglePause">Pause</v-btn>
      <v-btn @click="updateChart">Update</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { ComponentOptions } from 'vue';
import { Chart, ChartPoint } from 'chart.js';

@Component({})
export default class ChartJSChart extends Vue {
  public $options!: ComponentOptions<Vue> & {
    chart: Chart;
  };

  public async grabData() {
    if (this.paused) {
      return;
    }
    if (!this.$options.chart) {
      return;
    }
    const chartCanvas = this.$options.chart.canvas as HTMLCanvasElement;
    await this.$store.dispatch('getChartUpdate', { width: chartCanvas.width });
    this.grabData();
  }

  public togglePause() {
    this.$store.dispatch('togglePauseChart');
  }

  get paused() {
    return this.$store.state.pauseChart as boolean;
  }

  @Watch('paused')
  public onPauseChanged(val: boolean) {
    if (!val) {
      this.grabData();
    }
  }

  get series() {
    return this.$store.getters.Chart as Array<{ x: string; y: number }>;
  }

  @Watch('series')
  public onSeriesChanged(val: Array<{ x: string; y: number }>) {
    if (this.$options.chart.data && this.$options.chart.data.datasets) {
      this.$options.chart.data.datasets[0].data = val.map(
        point => ({ x: Number.parseFloat(point.x), y: point.y } as ChartPoint)
      );
      this.$options.chart.update({ duration: 0 });
      if (this.paused) {
        // console.log(val);
      }
    }
  }

  public mounted() {
    this.grabData();
    const ctx = this.$refs.chart as HTMLCanvasElement;
    this.$options.chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [
          {
            label: 'Pressure',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            fill: false,
            pointRadius: 0,
            data: [0, 10, 5, 2, 20, 30, 45],
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        elements: {
          line: {
            tension: 0,
          },
        },
        scales: {
          xAxes: [
            {
              type: 'time',
              distribution: 'linear',
              time: {
                unit: 'millisecond',
              },
              ticks: {
                autoSkip: true,
                maxTicksLimit: 20,
              },
            },
          ],
        },
        tooltips: { enabled: false },
        animation: {
          duration: 0,
        },
        hover: {
          animationDuration: 0, // duration of animations when hovering an item
        },
        responsiveAnimationDuration: 0, // animation duration after a resize
        // plugins: {
        //   zoom: {
        //     // Container for pan options
        //     pan: {
        //       // Boolean to enable panning
        //       enabled: false,

        //       // Panning directions. Remove the appropriate direction to disable
        //       // Eg. 'y' would only allow panning in the y direction
        //       mode: 'x',
        //       // Function called once panning is completed
        //       // Useful for dynamic data loading
        //       onPan(val: Chart) {
        //         // console.log(val);
        //       },
        //     },

        //     // Container for zoom options
        //     zoom: {
        //       // Boolean to enable zooming
        //       enabled: false,

        //       // Enable drag-to-zoom behavior
        //       drag: false,

        //       // Drag-to-zoom rectangle style can be customized
        //       // drag: {
        //       // 	 borderColor: 'rgba(225,225,225,0.3)'
        //       // 	 borderWidth: 5,
        //       // 	 backgroundColor: 'rgb(225,225,225)'
        //       // },

        //       // Zooming directions. Remove the appropriate direction to disable
        //       // Eg. 'y' would only allow zooming in the y direction
        //       mode: 'x',

        //       // Speed of zoom via mouse wheel
        //       // (percentage of zoom on a wheel event)
        //       speed: 0.1,
        //       rangeMin: {
        //         // Format of min zoom range depends on scale type
        //         x: null,
        //         y: null,
        //       },
        //       rangeMax: {
        //         // Format of max zoom range depends on scale type
        //         x: null,
        //         y: null,
        //       },
        //       // Function called once zooming is completed
        //       // Useful for dynamic data loading
        //       // onZoom:  ({chart}: {chart?: Chart}) => {
        //       //   if (!chart) { return; }
        //       //   chart = chart as Chart;
        //       //   if (this.paused) {
        //       //     this.$store.dispatch('getZoomedChartData', {
        //       //       min: chart.scales['x-axis-0'].min,
        //       //       max: chart.scales['x-axis-0'].max,
        //       //       width: chart.canvas.width});
        //       //   }
        //       // },
        //     },
        //   },
        // },
      },
    });
  }

  public updateChart() {
    // console.log('updating chart');
    this.$options.chart.update({ duration: 0 });
  }
}
</script>

<style lang="scss" scoped>
.chart-container {
  height: 300px;
  width: 100%;
}
</style>
