<template>
  <v-card height="600px">
    <v-toolbar flat>
      <v-toolbar-title>Chart</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col>
            <div class="chartContainer" ref="chartContainer"></div>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-btn @click="togglePause">Pause</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { ComponentOptions } from 'vue';
import uPlot from 'uplot';
import 'uplot/src/uPlot.css';

@Component({})
export default class UPlotChart extends Vue {
  delay = (timeout: number) => {
    return new Promise(resolve => setTimeout(resolve, timeout));
  };

  public $options!: ComponentOptions<Vue> & {
    chartOpts: any;
    chartDiv: any;
    chart: any;
    updating: boolean;
    width: 600;
  };

  public togglePause() {
    this.$store.dispatch('togglePauseChart');
  }

  get paused() {
    return this.$store.state.pauseChart as boolean;
  }

  get series() {
    const dataAsArray = [[], []];
    const times: Number[] = dataAsArray[0];
    const values: Number[] = dataAsArray[1];
    if (!this.$store.getters.Chart || this.$store.getters.Chart.length <= 1)
      return undefined;
    const data = this.$store.getters.Chart as Array<{
      x: number;
      y: number;
    }>;
    Object.entries(data).forEach(element => {
      times.push(element[1].x);
      values.push(element[1].y);
    });
    return dataAsArray;
  }

  @Watch('series')
  public async onSeriesChanged(val: Number[][]) {
    if (this.series === undefined) return;
    if (!this.$options.updating) {
      this.$options.updating = true;
      if (!this.$options.chart) {
        console.log('no chart');
        this.makeChart();
      }
      try {
        await this.$options.chart.setData(this.series);
      } catch {
        console.log(this.series);
        // debugger;
      }
      this.$options.updating = false;
    }
  }

  public makeChart() {
    if (
      this.series === undefined ||
      this.$options.chart ||
      !this.$options.chartDiv
    )
      return;
    const clientWidth = this.$options.chartDiv.clientWidth;
    this.$options.chartOpts = {
      width: this.$options.chartDiv.clientWidth,
      height: 400,
      cursor: false,
      series: {
        y: [
          {
            label: 'Values',
            scale: 'psi',
            value: (v: Number) => v.toFixed(1) + '',
            color: 'red',
            width: 2,
            dash: [10, 5],
          },
        ],
      },
      axes: {
        y: [
          {
            scale: 'psi',
            values: (vals: any, space: any) => {
              return vals.map((v: Number) => +v.toFixed(1) + 'psi');
            },
          },
        ],
      },
    };
    this.$options.chart = new uPlot(this.$options.chartOpts, this.series);
    this.$options.chartDiv.appendChild(this.$options.chart.root);
  }

  public callback(mutationList: MutationRecord[], observer: any) {
    for (let mutation of mutationList) {
      console.log(mutation);
    }
  }

  public widthChanged(this: Window, evt: UIEvent): any {
    // this.$options.width = this.$options.chartDiv.clientWidth;
  }

  public async mounted() {
    window.addEventListener('resize', this.widthChanged);
    this.$options.chartDiv = this.$refs.chartContainer as HTMLDivElement;
    const observer = new MutationObserver(this.callback);
    const config = { attributes: true, childList: true, subtree: true };
    // observer.observe(this.$options.chartDiv, config);
  }
}
</script>

<style lang="scss" scoped>

</style>
