<template>
  <v-container>
    <v-card>
      <v-card-title>
        <h2 class="headline">Current Alarms</h2>
      </v-card-title>
      <v-card-text>
        <v-list>
          <template v-for="(alarm, key, index) in alarms">
            <v-list-item
              inset
              v-if="alarm.Active === 'True' || alarm.Active === true"
              :key="index"
            >
              <v-list-item-avatar>
                <v-icon>mdi-alert</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ alarm.Name }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon ripple @click="acknowledgeAlarm(key)">
                  <v-icon class="grey--text text--lighten-1"></v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </template>
        </v-list>
      </v-card-text>
    </v-card>
    <v-btn block large @click="ackAll">Acknowledge All</v-btn>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {
    AlarmsList,
  },
})
export default class AlarmsList extends Vue {
  public mounted() {
    this.$store.dispatch('REQUEST_UPDATE', ['alarms']);
  }

  get alarms() {
    return this.$store.state.alarms;
  }

  public ackAll(value: any) {
    this.$store.commit('CHANGE_SETTING', {
      setting: 'GVL.AckALL',
      value: 'true',
    });
  }

  public acknowledgeAlarm(value: any) {
    const regExp = /\[([^\]]+)\]/;
    const matches = regExp.exec(value);
    if (matches) {
      this.$store.commit('CHANGE_SETTING', {
        setting: `GVL.AllAlarms[${matches[1]}].Acknowledge`,
        value: 'true',
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus"></style>
