<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on }">
      <slot name="buttonTemplate" v-bind:on="on">
        <v-btn color="red lighten-2" dark v-on="on">
          Click Me
        </v-btn>
      </slot>
    </template>

    <v-card>
      <v-card-title class="headline" primary-title>
        Confirm
      </v-card-title>

      <v-card-text>
        Are you sure?
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="agreed">
          Yes
        </v-btn>
        <v-btn text @click="dialog = false">
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class ConfirmDialog extends Vue {
  private dialog = false;

  @Emit()
  public agreed() {
    this.dialog = false;
  }
}
</script>
<style lang="scss" scoped></style>
