<template>
  <v-navigation-drawer v-model="inputValue" app>
    <v-col class="fill-height" tag="v-list" column>
      <v-list>
        <v-list-item>
          <v-list-item-title class="title">
            Machine Template Frontend
          </v-list-item-title>
        </v-list-item>
        <template v-for="(link, i) in links">
          <v-list-item
            v-if="!link.children"
            :key="i"
            :to="link.to"
            :active-class="color"
          >
            <v-list-item-action>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-title v-text="link.text" />
          </v-list-item>
          <v-list-group
            v-else
            :key="i"
            :to="link.to"
            :active-class="color"
            :prepend-icon="link.icon"
          >
            <template v-slot:activator>
              <v-list-item-title>{{ link.text }}</v-list-item-title>
            </template>

            <v-list-item
              v-for="subItem in link.children"
              :key="subItem.text"
              :to="subItem.to"
              :active-class="color"
              link
            >
              <v-list-item-title v-text="subItem.text" />
              <v-list-item-icon>
                <v-icon>{{ subItem.icon }}</v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </template>
      </v-list>
    </v-col>
  </v-navigation-drawer>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CoreFooter from '@/components/core/Footer.vue';
@Component({
  components: {
    CoreFooter,
  },
})
export default class Drawer extends Vue {
  public logo = '/logo.png';

  public links = [
    {
      to: '/',
      icon: 'mdi-view-dashboard',
      text: 'dashboard',
    },
    {
      to: '/overview',
      icon: 'mdi-account-box',
      text: 'overview',
    },
    {
      to: '/status',
      icon: 'mdi-gamepad',
      text: 'status',
    },
    {
      to: '/test-settings',
      icon: 'mdi-login',
      text: 'test settings',
    },
    {
      to: '/alarms',
      icon: 'mdi-alert',
      text: 'alarms',
    },
    {
      to: '/alarm-history',
      icon: 'mdi-alert',
      text: 'alarm history',
    },
  ];

  public responsive = false;

  get color() {
    return this.$store.state.app.color;
  }

  get inputValue() {
    return this.$store.state.app.drawer;
  }

  set inputValue(val) {
    this.setDrawer(val);
  }

  public setDrawer(val: boolean) {
    this.$store.commit('app/setDrawer', val);
  }
}
</script>

<style lang="scss">
#app-drawer {
  .v-list__tile {
    border-radius: 4px;
    &--buy {
      margin-top: auto;
      margin-bottom: 17px;
    }
  }
}
</style>
