<template>
  <v-footer>
    <div></div>
    <v-spacer />
    <span class="font-weight-light copyright">
      &copy;
      {{ new Date().getFullYear() }}
      <a href="https://xilixsys.com/" target="_blank">xilix<span>sys</span></a>
    </span>
  </v-footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({})
export default class Footer extends Vue {}
</script>

<style></style>
