<template>
  <v-app-bar app>
    <v-app-bar-nav-icon class="d-lg-none" @click="onClickBtn">
    </v-app-bar-nav-icon>
    <v-toolbar-title>
      {{ title }}
    </v-toolbar-title>
    <div class="flex-grow-1"></div>

    <div v-if="EStopped">
      <ConfirmDialog @agreed="enableAuto">
        <template #buttonTemplate="{on}">
          <v-btn text v-on="on">
            Auto
          </v-btn>
        </template>
      </ConfirmDialog>

      <ConfirmDialog @agreed="enableManual">
        <template #buttonTemplate="{on}">
          <v-btn text v-on="on">
            Manual
          </v-btn>
        </template>
      </ConfirmDialog>
      <!--
        <ConfirmDialog @agreed="enableReset">
          <template #buttonTemplate="{on}" >
            <v-btn text v-on="on">
              Reset
            </v-btn>
          </template>
        </ConfirmDialog>
-->
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import { mapMutations } from 'vuex';
import { Component, Vue, Watch } from 'vue-property-decorator';
import ConfirmDialog from '@/components/core/ConfirmDialog.vue';

@Component({
  components: {
    ConfirmDialog,
  },
})
export default class Toolbar extends Vue {
  public title = '';

  public responsive = false;

  public responsiveInput = false;

  private text = 'left';

  get EStopped() {
    return true;
  }

  @Watch('$route')
  public routeChanged(newVal: any, oldVal: any) {
    this.title = newVal.name;
  }

  public mounted() {
    this.title = this.$route.name as string;
  }

  public beforeDestroy() {}

  public onClickBtn() {
    this.toggleDrawer();
  }

  public toggleDrawer() {
    this.$store.commit('app/toggleDrawer');
  }

  public enableAuto() {
    this.$store.dispatch('UPDATE_PLC', {
      variable: 'HMI.Input.Auto',
      value: true,
    });
  }

  public enableManual() {
    this.$store.dispatch('UPDATE_PLC', {
      variable: 'HMI.Input.Manual',
      value: true,
    });
  }
}
</script>

<style></style>
