<template>
  <v-container grid-list-md>
    <v-row v-for="(value, key, index) in inputs" :key="index" row>
      <v-col v-if="isBoolean(value)" xs12="xs12">
        <v-checkbox
          readonly
          :input-value="value"
          color="red darken-2"
          :label="key | toSpaced"
          off-icon="mdi-checkbox-blank-outline"
          on-icon="mdi-checkbox-marked"
        ></v-checkbox>
      </v-col>
      <template v-else>
        <v-col xs4>
          <v-subheader>{{ key | toSpaced }}:</v-subheader>
        </v-col>
        <v-col xs8>
          <v-subheader>{{ value | toFixed }}</v-subheader>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class BooleanCheckbox extends Vue {
  @Prop() private inputs!: any;

  private isBoolean(val: any) {
    console.log(val);
    return typeof val === 'boolean';
  }
}
</script>

<style lang="stylus" scoped></style>
