<template>
  <v-app>
    <core-toolbar />
    <core-drawer />
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CoreToolbar from '@/components/core/Toolbar.vue';
import CoreDrawer from '@/components/core/Drawer.vue';
@Component({
  components: {
    CoreToolbar,
    CoreDrawer,
  },
})
export default class Default extends Vue {}
</script>
<style>
/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}
.v-card {
  height: 100%;
}
</style>
