<template>
  <v-app>
    <v-content>
      <h1>test</h1>
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  components: {},
})
export default class NoCruft extends Vue {
  mounted() {
    this.$vuetify.theme.dark = false;
  }
}
</script>
<style lang="scss"></style>
