<template>
  <div id="app">
    <component :is="layout" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Default from '@/layouts/Default.vue';
import NoCruft from '@/layouts/NoCruft.vue';
@Component({
  components: {},
})
export default class App extends Vue {
  get layout() {
    if (this.$route.meta.layout === 'nocruft') {
      return NoCruft;
    }
    return Default;
  }

  get metaInfo() {
    return {
      title: 'Dashboard',
    };
  }
}
</script>

<style></style>
