<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Test</h1>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Id</th>
                <th class="text-left">Name</th>
                <th class="text-left">Status</th>
                <th class="text-left">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="alarm in alarms" :key="alarm.Id">
                <td>{{ alarm.Id }}</td>
                <td>{{ alarm.AlarmName }}</td>
                <td>{{ alarm.State }}</td>
                <td>{{ alarm.OccuredAt }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-container class="max-width">
          <v-pagination v-model="page" :length="numberOfPages"></v-pagination>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ky from 'ky';

@Component({
  components: {},
})
export default class AlarmHistory extends Vue {
  public numberOfAlarmRecords = 0;
  public page = 1;
  public alarms = {};
  get numberOfPages() {
    console.log(this.numberOfAlarmRecords / 10);
    return Math.floor(this.numberOfAlarmRecords / 10);
  }

  @Watch('page')
  async onPageChanged(val: number, oldVal: number) {
    const url = '/alarms/offset/' + (Number(this.page) - 1) * 10;
    this.alarms = await ky.get(url).json();
  }

  public async mounted() {
    this.numberOfAlarmRecords = await ky.get('/alarms/count').json();
    console.log(this.numberOfAlarmRecords);
    const url = '/alarms/offset/0';
    this.alarms = await ky.get(url).json();
  }
}
</script>
<style lang="scss"></style>
