<template>
  <v-container>
    <v-row>
      <v-col>
        <alarms-list></alarms-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AlarmsList from '@/components/alarms/AlarmsList.vue';

@Component({
  components: {
    AlarmsList,
  },
})
export default class Alarms extends Vue {}
</script>
<style lang="scss"></style>
