<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="8">
        <Chart></Chart>
      </v-col>
      <v-col cols="4">
        <test-settings-overview />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Chart from '@/components/Chart.vue';
import store from '@/store';
import TestSettingsOverview from '@/components/overview/TestSettings.vue';
@Component({
  components: {
    Chart,
    TestSettingsOverview,
  },
})
export default class Dashboard extends Vue {}
</script>
<style lang="scss" scoped></style>
