<template>
  <v-container>
    <svg width="100%" height="550px" viewBox="0 0 2000 1250">
      <!-- top pipe to manifold -->
      <Light :x="0" :y="100" :enabled="enable" />
    </svg>
    <v-btn @click="toggle">Toggle</v-btn>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Light from './Overview/Light.vue';

@Component({
  components: {
    Light,
  },
})
export default class Overview extends Vue {
  public enable2 = false;
  public toggle() {
    this.enable2 = !this.enable2;
  }
  async mounted() {
    await this.$store.dispatch('REQUEST_UPDATE', ['status']);
  }
  get enable() {
    try {
      const light = this.$store.state.status.Output.GreenLight;
      return this.$store.state.status.Output.GreenLight;
    } catch {
      return false;
    }
  }
}
</script>

<style lang="scss"></style>
