<template>
  <v-container grid-list-md>
    <v-row row wrap>
      <v-col>
        <Chart></Chart>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Chart from '@/components/Chart.vue';
@Component({
  components: {
    Chart,
  },
})
export default class Print extends Vue {}
</script>
<style lang="scss" scoped></style>
