<template>
  <v-container grid-list-md>
    <v-row row wrap>
      <v-col lg4 md6 xs12 v-for="(inputs, key, i) in io" :key="i">
        <v-card height="100%">
          <v-card-title>
            <h1>{{ key | toSpaced }}</h1>
          </v-card-title>
          <IoCard :inputs="inputs" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import IoCard from '@/components/io/Card.vue';

@Component({
  components: {
    IoCard,
  },
})
export default class Status extends Vue {
  get io() {
    // console.log(this.$store.state.status);
    return this.$store.state.status;
  }

  private mounted() {
    this.$store.dispatch('REQUEST_UPDATE', ['status']);
  }
}
</script>
<style lang="scss"></style>
