<template>
  <v-container>
    <v-form>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="testSettings.operator"
            :counter="10"
            label="operator"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="testSettings.serialNumber"
            :counter="10"
            label="serial number"
            required
          ></v-text-field>
        </v-col>
      </v-row>
    </v-form>
    <v-btn @click="save">save</v-btn>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Chart from '@/components/Chart.vue';
import store from '@/store';
import { TestSettingsType } from '@/store/types';
@Component({
  components: {
    Chart,
  },
})
export default class TestSettings extends Vue {
  public testSettings: TestSettingsType = {
    operator: '',
    serialNumber: '',
  };

  public items: string[] = ['60k', '100k'];

  public save() {
    const localSettings = this.testSettings;
    store.commit('UPDATE_TEST_SETTINGS', localSettings);
  }
}
</script>
<style lang="scss" scoped></style>
