<template>
  <v-card max-width="344" class="mx-auto">
    <v-card-title>Test Settings</v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col>
            operator:
          </v-col>
          <v-col>
            {{ testSettings.operator }}
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            serialNumber:
          </v-col>
          <v-col>
            {{ testSettings.serialNumber }}
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-btn>Start Test</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Chart from '@/components/Chart.vue';
import store from '@/store';
@Component({
  components: {
    Chart,
  },
})
export default class TestSettingsOverview extends Vue {
  get testSettings() {
    return store.state.testSettings;
  }
}
</script>
<style lang="scss" scoped></style>
